div(style="height:8em")
footer 
    .contentPadding
        .footerCopyright © 2019 - 2021
            br
            . 
                Original Design by SUHYUN PARK / SHIFT DESIGN CO.
            br
            . 
                cloned coding for non-commercial purposes
            br
            . 
                All Rights Rerserved to shiftpsh
div(style="height:4em")