.player
  .player__header
    .player__img.player__img--absolute.slider
      button.player__button.player__button--absolute--nw.playlist
        img(src='http://physical-authority.surge.sh/imgs/icon/playlist.svg' alt='playlist-icon')
      button.player__button.player__button--absolute--center.play
        img(src='http://physical-authority.surge.sh/imgs/icon/play.svg' alt='play-icon')
        img(src='http://physical-authority.surge.sh/imgs/icon/pause.svg' alt='pause-icon')
      .slider__content
        img.img.slider__img(src='/public/bin/img/972795.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/20256424.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/20351548.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/20383708.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/20136980.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/2113323D54232FC837.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/853612.jpeg' alt='cover')
        img.img.slider__img(src='/public/bin/img/20230632.jpeg' alt='cover')
    .player__controls
      button.player__button.back
        img.img(src='http://physical-authority.surge.sh/imgs/icon/back.svg' alt='back-icon')
      p.player__context.slider__context
        strong.slider__name
        span.player__title.slider__title
      button.player__button.next
        img.img(src='http://physical-authority.surge.sh/imgs/icon/next.svg' alt='next-icon')
      .progres
        .progres__filled
  ul.player__playlist.list
    li.player__song
      img.player__img.img(src='/public/bin/img/972795.jpeg' alt='cover')
      p.player__context
        b.player__song-name 그 해 이야기
        span.flex
          span.player__title 박문치
          span.player__song-time
      audio.audio(src='/public/bin/music/The Story Of The Year.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/20256424.jpeg' alt='cover')
      p.player__context
        b.player__song-name I Like Me
        span.flex
          span.player__title 민수
          span.player__song-time
      audio.audio(src='/public/bin/music/I Like Me.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/20351548.jpeg' alt='cover')
      p.player__context
        b.player__song-name 삐뽀삐뽀
        span.flex
          span.player__title 김뜻돌
          span.player__song-time
      audio.audio(src='/public/bin/music/Beep-Boop Beep-Boop.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/20383708.jpeg' alt='cover')
      p.player__context
        b.player__song-name 달라
        span.flex
          span.player__title 최정윤
          span.player__song-time
      audio.audio(src='/public/bin/music/DALLA.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/20136980.jpeg' alt='cover')
      p.player__context
        b.player__song-name 다음에 또 만나요
        span.flex
          span.player__title CHEEZE
          span.player__song-time
      audio.audio(src='/public/bin/music/See You Again.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/2113323D54232FC837.jpeg' alt='cover')
      p.player__context
        b.player__song-name September
        span.flex
          span.player__title Earth, Wind & Fire
          span.player__song-time
      audio.audio(src='/public/bin/music/September.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/853612.jpeg' alt='cover')
      p.player__context
        b.player__song-name 바라봐줘요
        span.flex
          span.player__title 죠지
          span.player__song-time
      audio.audio(src='/public/bin/music/바라봐줘요.mp3')
    li.player__song
      img.player__img.img(src='/public/bin/img/20230632.jpeg' alt='cover')
      p.player__context
        b.player__song-name Can I Love ?
        span.flex
          span.player__title Cosmic Boy
          span.player__song-time
      audio.audio(src='/public/bin/music/Can I Love.mp3')