html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title atelier 
        link(rel="stylesheet", href="/public/css/home.css")
        link(rel="icon", href="/public/icon/magpie.ico")
        link(rel="preconnect", href="//fonts.googleapis.com")
        link(rel="preconnect", href="//fonts.gstatic.com",crossorigin="crossorigin")
        link(rel="stylesheet", href="//cloud.typography.com/6794156/6837792/css/fonts.css")
        link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&amp;display=swap")
    body 
        .background 
            .backgroundSizer 
                img.backgroundShadowImg(src="public/icon/magpieShadow.png", alt="magpie shadow")
            .backgroundSizer 
                img.backgroundImg(src="public/icon/whiteMagpie.svg", alt="magpie")
        nav.topNavigation
            .topLink.blog
                a(href="https://hasaja.tistory.com/", target="_blank") Blog
            .topLink.solvedac 
                a(href="https://solved.ac/profile/halion", target="_blank") Solved.ac
            .topLink.instagram
                a(href="https://www.instagram.com/halionaz/", target="_blank") Instagram
            .topLink.github 
                a(href="https://github.com/halionaz", target="_blank") Github
            a(href="#")
                img.logo(src="public/icon/magpie.svg", alt="halion's magpie logo") 
        .contents
            .content 
                .contentPadding#lipsum
                    h1 halion's atelier :: ㅎㅅㅈ의 잉여스러운 작업실
                    div(style="height:2em")
                    p 
                        strong 하승준
                        br
                        .
                            Human Collector
                        br
                        .
                            Software Engineer @ 
                        a(href="https://github.com/KWEBofficial",target="_blank") KWEB
                        br 
                        . 
                            Design Artist
                        br
                        a(href="https://info.korea.ac.kr/info/index.do#none",target="_blank") 고려대학교 정보대학 컴퓨터학과
                        . 
                            &nbsp학부과정
                    div(style="height:1em")
                    p 공군 입대까지 - 
                        span#timePercent 
                        . 
                            %, 
                        span#timeDay 
                        . 
                            일
        script(src="/public/js/home.js") 
