html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title atelier 
        link(rel="stylesheet", href="/public/css/home.css")
        link(rel="icon", href="/public/icon/magpie.ico")
        link(rel="preconnect", href="//fonts.googleapis.com")
        link(rel="preconnect", href="//fonts.gstatic.com",crossorigin="crossorigin")
        link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&amp;display=swap")
    body 
        .background 
            .backgroundSizer 
                img.backgroundShadowImg(src="public/icon/magpieShadow.png", alt="magpie shadow")
            .backgroundSizer 
                img.backgroundImg(src="public/icon/whiteMagpie.svg", alt="magpie")
        nav.topNavigation
            .topLink.ply
                a(href="/ply") Playlist
            .topLink.blog
                a(href="https://hasaja.tistory.com/", target="_blank") Blog
            .topLink.solvedac 
                a(href="https://solved.ac/profile/halion", target="_blank") Solved.ac
            .topLink.instagram
                a(href="https://www.instagram.com/halionaz/", target="_blank") Instagram
            .topLink.github 
                a(href="https://github.com/halionaz", target="_blank") Github
            a(href="#")
                img.logo(src="public/icon/magpie.svg", alt="halion's magpie logo") 
        .contents
            .content 
                .contentPadding#lipsum
                    .hdiv  
                        h1 halion's atelier 
                        h1 ㅎㅅㅈ의 잉여스러운 작업실
                    div(style="height:64px")
                    p 
                        strong 하승준
                        br
                        .
                            인재 수집가
                        br
                        .
                            소프트웨어 엔지니어 @ 
                        a(href="https://github.com/KWEBofficial",target="_blank") KWEB
                        br 
                        . 
                            슈퍼개미가 되고 싶은 일개미
                        br 
                        . 
                            디자이너 & 아티스트
                        br
                        a(href="https://info.korea.ac.kr/info/index.do#none",target="_blank") 고려대학교 정보대학 컴퓨터학과
                        . 
                            &nbsp학부재학
                    div(style="height:1em")
                    p 공군 입대까지 - 
                        span#timePercent 
                        . 
                            %, 
                        span#timeDay 
                        . 
                            일
            .contentPadding
                .hdiv 
                    h1 Links
                div 
                    .caption 이 인간은
                div 
                    .caption 인터넷 노마드입니다
                div(style="height:64px")
                div(style="height:2em")
                h2 Social 
                .article.social
                    div(style="position:relative; cursor:pointer;")
                        .block(style="background: rgb(118, 2, 35);")
                            img(src="/public/icon/mail.svg", alt="email icon").linkIcon
                        .linkTitle 이메일
                        .realLink samhsj@korea.ac.kr
                    a(href="https://hasaja.tistory.com/",target="_blank")
                        div(style="position:relative; cursor:pointer;")
                            .block(style="background: rgb(18, 19, 24)")
                                img(src="/public/icon/blog.svg", alt="blog icon").linkIcon
                            .linkTitle 블로그
                            .realLink hasaja.tistory.com
                    a(href="https://www.instagram.com/halionaz/",target="_blank")
                        div(style="position:relative; cursor:pointer;")
                            .block(style="background: rgb(215, 33, 135)")
                                img(src="/public/icon/instagram.svg", alt="instagram icon").linkIcon
                            .linkTitle 인스타그램
                            .realLink @halionaz
                    a(href="https://github.com/halionaz",target="_blank")
                        div(style="position:relative; cursor:pointer;")
                            .block(style="background: rgb(22, 27, 34)")
                                img(src="/public/icon/github.svg", alt="github icon").linkIcon
                            .linkTitle 깃허브
                            .realLink /halionaz
                    a(href="https://www.acmicpc.net/user/halion",target="_blank")
                        div(style="position:relative; cursor:pointer;")
                            .block(style="background: rgb(0, 118, 192)")
                                img(src="/public/icon/boj.svg", alt="baekjoon online judge icon").linkIcon
                            .linkTitle 백준
                            .realLink halion
                    a(href="https://solved.ac/profile/halion",target="_blank")
                        div(style="position:relative; cursor:pointer;")
                            .block(style="background: rgb(23, 206, 58)")
                                img(src="/public/icon/solvedac.svg", alt="solved.ac icon").linkIcon
                            .linkTitle 솔브닥
                            .realLink halion
            div(style="height:8em")
            footer 
                .contentPadding
                    .footerCopyright © 2019 - 2021
                        br
                        . 
                            Original Design by SUHYUN PARK / SHIFT DESIGN CO.
                        br
                        . 
                            cloned coding for non-commercial purposes
                        br
                        . 
                            All Rights Rerserved to shiftpsh
            div(style="height:4em")
        script(src="/public/js/home.js") 
