html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title halion - home 
        link(rel="stylesheet", href="/public/css/home.css")
        link(rel="icon", href="/public/icon/magpie.ico")
    body 
        nav.topNavigation
            .topLink.blog
                a(href="https://hasaja.tistory.com/", target="_blank") Blog
            .topLink.instagram
                a(href="https://hasaja.tistory.com/", target="_blank") Instagram
            .topLink.github 
                a(href="https://hasaja.tistory.com/", target="_blank") Github
            a(href="#")
                img.logo(src="public/icon/magpie.svg", alt="halion's magpie logo") 
        script(src="/public/js/home.js") 
