<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content=""> -->
    <link rel="icon" href="../public/icon/magpie.ico">
    <link rel="stylesheet" href="../public/css/index.css" type="text/css">
    <title>halion - main</title>
</head>
<body>
    <nav class="topNavigation">
        <div class="topLink blog"><a href="https://hasaja.tistory.com/" target="_blank">BLOG</a></div>
        <div class="topLink instagram"><a href="https://www.instagram.com/halionaz/" target="_blank">Instagram</a></div>
        <div class="topLink github"><a href="https://github.com/halionaz" target="_blank">Github</a></div>
        <a href="#">
            <img src="../public/icon/magpie.svg" alt="halion's magpie logo" class="logo">
        </a>
    </nav>
    <script src="../public/js/index.js"></script>
</body>
</html>