html(lang="ko")
    head
        title playlist 
        link(rel="stylesheet", href="/public/css/home.css")
        link(rel="stylesheet", href="/public/css/ply.css")
        include template/head.pug
    body 
        nav.topNavigation
            .topLink.home
                a(href="/") Home
            .topLink.blog
                a(href="https://hasaja.tistory.com/", target="_blank") Blog
            .topLink.solvedac 
                a(href="https://solved.ac/profile/halion", target="_blank") Solved.ac
            .topLink.instagram
                a(href="https://www.instagram.com/halionaz/", target="_blank") Instagram
            .topLink.github 
                a(href="https://github.com/halionaz", target="_blank") Github
            a(href="#")
                img.logo(src="public/icon/magpie.svg", alt="halion's magpie logo") 
        .contents
            .content.centerAlign 
                include template/player.pug 
    script(src="/public/js/ply.js") 