html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title playlist 
        link(rel="stylesheet", href="/public/css/home.css")
        link(rel="stylesheet", href="/public/css/ply.css")
        link(rel="icon", href="/public/icon/magpie.ico")
        link(rel="preconnect", href="//fonts.googleapis.com")
        link(rel="preconnect", href="//fonts.gstatic.com",crossorigin="crossorigin")
        link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&amp;display=swap")
    body 
        .background 
            .backgroundSizer 
                img.backgroundShadowImg(src="public/icon/magpieShadow.png", alt="magpie shadow")
            .backgroundSizer 
                img.backgroundImg(src="public/icon/whiteMagpie.svg", alt="magpie")
        nav.topNavigation
            .topLink.home
                a(href="/") Home
            .topLink.blog
                a(href="https://hasaja.tistory.com/", target="_blank") Blog
            .topLink.solvedac 
                a(href="https://solved.ac/profile/halion", target="_blank") Solved.ac
            .topLink.instagram
                a(href="https://www.instagram.com/halionaz/", target="_blank") Instagram
            .topLink.github 
                a(href="https://github.com/halionaz", target="_blank") Github
            a(href="#")
                img.logo(src="public/icon/magpie.svg", alt="halion's magpie logo") 
        .contents
            .content.centerAlign 
                .div 안녕
            footer 
                .contentPadding
                    .footerCopyright © 2019 - 2021
                        br
                        . 
                            Original Design by SUHYUN PARK / SHIFT DESIGN CO.
                        br
                        . 
                            cloned coding for non-commercial purposes
                        br
                        . 
                            All Rights Rerserved to shiftpsh
            div(style="height:4em")
        script(src="/public/js/home.js") 
