@import "./reset.css";

:root{
    --main-dark-color : rgb(54, 25, 5);
    --main-color : rgb(252,133,60);
}

strong{
    font-weight: 600;
}
p{
    display: block;
    font-weight: 400;
}
h1{
    font-size: smaller;
    font-weight: 600;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
}
h2{
    font-size: smaller;
    letter-spacing: 0.2ch;
    margin-bottom: 32px;
    text-transform: uppercase;
}
html{
    font-family: Gotham, "Gotham SSm A", "Gotham SSm B", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--main-dark-color);
    text-size-adjust: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: calc(10px + 0.7vmin);
    letter-spacing: -0.05ch;
}
body{
    width: 100%;
    background-color: white;
    display: block;
    line-height: 1.5;
}
a:link, a:visited { 
    color: inherit;
    text-decoration: underline 1px dashed;
    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
a:link:hover,a:visited:hover { 
    background: var(--main-color);
    color: white;
    text-decoration: underline 1px solid;
}

/* 백그라운드 */
.background{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}
.backgroundSizer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transform: translateX(30%);
}
.backgroundShadowImg{
    width: 86%;
    max-height: 86%;
    object-fit: contain;
    object-position: center center;
    transition-duration: 1s;
    opacity: 0.15;
}
.backgroundImg{
    width: 86%;
    max-height: 84%;
    object-fit: contain;
    object-position: center center;
    transition-duration: 1s;
}

/* 네비게이션 바 */
.topNavigation{
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 48px;
    right: 0px;
    height: 48px;
    z-index: 1000;
    padding: 0px 64px;
}
.topLink{
    letter-spacing: 0.2ch;
    font-weight: 600;
    margin-right: 2em;
}
.logo{
    height: 48px;
}
.topNavigation a, .topNavigation a:link, .topNavigation a:visited{
    color: inherit;
    text-decoration: none;
}
.topNavigation a:hover{
    color: inherit;
    background : none;
}

/* 컨텐츠 */

.contents{
    position: relative;
    z-index: 500;
}
.content{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 500;
    /* height: 100vh; */
}
.contentPadding{
    padding: 0px 64px; 
}
.contentPadding .hdiv{
    margin-bottom: 32px;
}
.caption{
    background-color: var(--main-color);
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    padding: 0px 7px;
}

/* 링크 */

.article{
    width: 100%;
    max-width: 960px;
    text-align: justify;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10em,1fr));
    grid-auto-rows: 10em;
    justify-content: space-around;
    gap: 2em 1em;
}
.article a, .article a:link:hover, .article a:visited:hover{
    background: inherit; 
    text-decoration: none;
    color: inherit;
}
.block{
    width: 6em;
    height: 6em;
    border-radius: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s ease 0s;
}
.block:hover{
    transform: scale(1.025);
}
.linkIcon{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.3s ease 0s;
}
.linkIcon:hover{
    transform: scale(1.1);
    
}
.linkTitle{
    font-weight: bold;
}

/* Footer */

.footerCopyright{
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: bold;
    font-size: smaller;
    margin-bottom: 32px;
}

/* 반응형 웹 */
@media (max-width : 960px){
    .caption{
        font-size: 2.5rem;
    }
}
@media (max-width : 600px){
    .topLink{
        display: none;
    }
    .contentPadding{
        padding: 0px 16px; 
    }
}